<h1>Hilfe</h1>
<p>Noch in Arbeit...</p>


<%# Dies ist ein persönlciher Gartenkalender. Die Idee ist, dass der Gärtner seine im Garten gepflanzten Pflanzen hier sammelt. Daher "persönlich". Nur die eigenen Pflanzen werden hier aufgelistet. Je nach Jahreszeit wird der Gärtner an die Dinge erinnert, die er jetzt in seinem Garten erledigen muss.

Dazu muss er seine eigenen Pflanzen selbst beschreiben, für jede Pflanze Aufgaben definieren, die zu tun sind mit Angabe des Zeitpunkts, wann diese Pflegeanweisungen erledigt werden sollen, zum Beispiel Schneiden im Winter.

%>
