<h2><%= title "Empfehlungen" %></h2>

<h4>Der einfachste Weg zum Gemüsegarten</h4>
Ein mit etwa 20 Gemüsesorten bepflanztes Stück Feld kann man hier mieten:<br>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.meine-ernte.de/" target="_blank">Meine Ernte</a>
<br>
<br>

<h4>Wwoofing</h4>
Als WWOOFer/in hast Du die Möglichkeit, freiwillig helfend (wwoofend) Wissen über ökologische Landwirtschaft, Gartenbau und Selbstversorgung auf dem Land aus erster Hand zu erhalten und selbst Erfahrungen zu sammeln.<br>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.wwoof.de/" target="_blank">Wwoof Deutschland</a>
<br>
<br>

<h4>Interessante TED Talks</h4>
<h5>Ron Finley:</h5>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.ted.com/talks/ron_finley_a_guerilla_gardener_in_south_central_la" target="_blank">A guerilla gardener in South Central LA</a>
<br>
<br>

<h4>Phänologische Wetterdaten, Deutschland</h4>
<h5>Deutscher Wetterdienst</h5>
Die phaenologischen Daten des Wetterdienstes wurden verwendet, um die
aktuellen phaenologischen Jahreszeiten zu bestimmen.<br>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.dwd.de/phaenologie">Phaenologie beim deutschen Wetterdienst</a>
<br>
<br>

<h4>Phaenologische Daten, Österreich</h4>
Zur Zeit werden nur phaenologische Daten aus Deutschland verwendet, um die
aktuellen phaenologischen Jahreszeiten zu bestimmen. Hier kann man sich jedoch einen Überblick über Eintrittszeiten phaenologischer Phänomene auf österreichischem Gebiet verschaffen.<br>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.phenowatch.at/wissenschaft/auswertungen/interaktive-karten.html">Zentralanstalt für Meteorologie und Geodynamik, Österreich</a>
<br>
<br>
