<h1>Empfehlungen</h1>

<h4>Interessante TED Talks</h4>

Ron Finley:
<a href="http://www.ted.com/talks/ron_finley_a_guerilla_gardener_in_south_central_la" target="_blank">A guerilla gardener in South Central LA</a>

<br>
<br>
<br>
<h4>Der einfachste Weg zum Gemüsegarten</h4>
Ein vorbereietes Stückchen Feld mieten kann man hier:
<a href="http://www.meine-ernte.de/" target="_blank">Meine Ernte</a>
