<h2>Empfehlungen</h2>

<h4>Der einfachste Weg zum Gemüsegarten</h4>
Ein mit etwa 20 Gemüsesorten bepflanztes Stück Feld kann man hier mieten:<br>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.meine-ernte.de/" target="_blank">Meine Ernte</a>
<br>
<br>

<h4>Wwoofing</h4>
Als WWOOFer/in hast Du die Möglichkeit, freiwillig helfend (wwoofend) Wissen über ökologische Landwirtschaft, Gartenbau und Selbstversorgung auf dem Land aus erster Hand zu erhalten und selbst Erfahrungen zu sammeln.<br>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.wwoof.de/" target="_blank">Wwoof Deutschland</a>
<br>
<br>

<h4>Interessante TED Talks</h4>
<h5>Ron Finley:</h5>
<span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>&nbsp;
<a href="http://www.ted.com/talks/ron_finley_a_guerilla_gardener_in_south_central_la" target="_blank">A guerilla gardener in South Central LA</a>
<br>
<br>

