<h1>Empfehlungen</h1>
<p>Hier sind ein paar interessante TED Talks:</p>

Ron Finley:

<a href="http://www.ted.com/talks/ron_finley_a_guerilla_gardener_in_south_central_la">A guerilla gardener in South Central LA</a>
