<table class="table">
  <tr>
    <td>
      <%= image_tag "eye_visible.jpg" %>
    </td>
    <td>
      Auf das Auge klicken, wenn diese Aufgabe hier gar nicht mehr aufgelistet werden soll. Die Sichtbarkeit kann unter der jeweiligen Pflanzenbeschreibung wieder angeschaltet werden.
    </td>
  </tr>
</table>
