<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-12 first-steps-desc">
        <h2>Herzlich Willkommen!</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 first-steps-desc">

        Wir freuen uns, dass Du den Weg auf unsere Seite gefunden hast!
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 first-steps-desc">
        Als erstes geben wir Dir hier ein paar Tipps, wie Du starten kannst.
      </div>
    </div>

  </div>
</div>
