<div class="row welcome">
  <div class="col-md-12">
    <h4>Herzlich willkommen zu unserem Gartenkalender!</h4>
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    Hier wirst Du nach der Eingabe von Pflanzen, die Du in Deinem Garten pflanzt, eine Liste von Aufgaben zur Gartenpflege sehen.
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    Diese Aufgaben kannst Du selbst anlegen oder sie von Gartenfreunden kopieren. Gleiches gilt für Wissenswertes rund um die Pflanze.
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    Nur die zu dieser Jahreszeit fälligen Aufgaben werden hier angezeigt.
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    Wie möchtest Du starten?
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    <%= link_to "Pflanzen anlegen", new_plant_path, class: "btn btn-default", role: "button" %>
    <%= link_to "Pflanzen suchen", plants_search_path, class: "btn btn-default", role: "button" %>
    <%= link_to "Profil bearbeiten", edit_user_path(current_user), class: "btn btn-default", role: "button" %>
  </div>
</div>

