<div class="row">
  <div class="col-md-12">
    <h4>Du hast noch keine Pflanzen angelegt?</h4>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= link_to (image_tag "welcome_copy_plant.jpg", class: "img-rounded welcome-img"), search_index_path() %>
    &nbsp;
    <%= link_to (image_tag "welcome_new_plant.jpg", class: "img-rounded welcome-img"), new_plant_path() %>
  </div>
</div>
