<h1>Persönlicher Gartenkalender</h1>
<% @current_tasks.each do |task| %>
<div class="row">
  <div class="col-xs-2">
    <% if task.plant.main_image.file? %><%= link_to image_tag(task.plant.main_image.url(:thumb)), task.plant %><% end %>
  </div>
  <div class="col-xs-2">
    <%= task.plant.name %>
  </div>
  <div class="col-xs-2">
    <%= task.title %>
  </div>
  <div class="col-xs-2">
    <%= task.desc %>
  </div>
</div>
<br />
<% end %>
