  <h2><%= title "Jetzt anstehende Aufgaben" %></h2>

  <% if @upcoming_tasks.empty? %>
  <%# TODO: SQL?? only count plants %>
    <% if current_user.plants.empty? %>
      <%= render partial: "/startpage/welcome" %>
    <% else %>
      <p>Geniesse Deinen Garten, es gibt nichts zu tun!</p>
    <% end %>

  <% else %>
    <div class="table-responsive">
      <table class="table">
        <% @upcoming_tasks.each do |task| %>
          <%= render partial: "tasks/task_entry",
                     locals: { task: task, include_plant: true } %>
        <% end %>
      </table>
    </div>
  <% end %>
