<div class="row welcome">
  <div class="col-md-12">
    <h2>Herzlich willkommen!</h2>
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    Bevor Du hier Deine Aufgabenliste sehen kannst, müsstest Du Dir Pflanzen
    anlegen.
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    Entweder Du kopierst Dir Pflanzen von anderen Gartenfreunden
    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    <%= link_to "Pflanze suchen", search_index_path, class: "btn btn-default", role: "button" %>
  </div>
</div>
<div class="row welcome">
  <div class="col-md-12">
    oder legst selbst Pflanzen an
    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    <%= link_to "Pflanze anlegen", new_plant_path, class: "btn btn-default", role: "button" %>.
  </div>
</div>
<div class="row welcome">
</div>
