<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hallo,</h1>
    <p>
      <%= @user.display_name %> möchte Dich gerne einladen, an einem
      Netzwerk für Hobby-GärtnerInnen teilzunehmen. Es handelt sich
      um einen intelligenten Gartenkalender, der Dir je nach Jahreszeit die zu erledigenden Arbeiten in Deinem persönlichen Garten
      anzeigt.
    </p>
    <p>
      Die anstehenden Arbeiten kannst Du entweder selbst formulieren oder
      von anderen GärtnerInnen kopieren.
    </p>
    <p>
      Hier kommst Du zum Gartenkalender: <%= link_to "#{root_url}", root_url %>.
    </p>
    <p>
<%# Dein @user.display_name? oder lieber: Dein Gartenkalender oder so %>
    </p>
  </body>
</html>
