<h3>Hallo,</h3>
<p>
  <%= @user.display_name %> möchte Dich gerne einladen, an einem
  Netzwerk für Gartenfreunde teilzunehmen.
</p>
<p>
  Hier kannst Du Deinen persönlichen Garten anlegen und alle Informationen rund um Deinen Garten verwalten.
</p>
<p>
  Deine Pflanzentipps kannst Du anderen GärtnerInnen verfügbar machen und die Pflanzentipps anderer nutzen.
</p>
<p>
  Du kannst speichern, wann Du welche Arbeiten im Garten wie erledigt hast und jederzeit wieder darauf zurückgreifen.
</p>
<p>
  Hier geht's zur "Mein Garten" Webseite: <%= link_to "#{root_url}", root_url %>.
</p>
<p>
  Viele Grüße,
  Dein Garten
</p>

<small>
  <p>Kontakt: persoenlicher.gartenkalender@gmail.com<br>
     Moorreye 43<br>
     22415 Hamburg
  </p>
</small>
