<table class="table">
  <% unless @plants.blank? %>
  <tr>
    <td colspan="2">
      Hier werden nur öffentliche Pflanzen angezeigt.
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "unvoted_thumb_up.png" %>
    </td>
    <td>
      <% if user_signed_in? %>
        <%= I18n.t "help_thumb_up" %>
      <% else %>
        Als registrierter und eingeloggter Benutzer kannst Du hier abstimmen.
      <% end %>
    </td>
  </tr>
  <% else %>
    <tr>
      <td colspan="2">
        Hier wird nur nach öffentlichen Pflanzen gesucht.
      </td>
    </tr>
  <% end %>
</table>

