<table class="table">
  <tr>
    <td>
      <%= image_tag "eye_visible.jpg" %>
    </td>
    <td>
      Sichtbarkeit in der Aufgabenliste durch Anklicken des Auges an- oder ausschalten.
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "world-globe32x32.png" %>
    </td>
    <td>
      Zum Veröffentlichen der zugehörigen Pflanze inklusive aller Aufgaben auf dieses Icon klicken.
    </td>
  </tr>
</table>
