<div class="row search-form">
  <div class="col-xs-12">
    <h3>Ich möchte meinen eigenen persönlichen Gartenkalender.</h3>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button  type="button" class="btn btn-default">
      <%= link_to 'Einloggen', new_user_session_path %>
    </button>
    <button  type="button" class="btn btn-default">
      <%= link_to 'Registrieren', new_user_registration_path %>
    </button>
  </div><!-- /.col-xs-12 -->
</div><!-- /.row -->
