<table class="table">
  <tr>
    <td>
      <%= image_tag "unvoted_thumb_up.png" %>
    </td>
    <td>
      War diese Pflanzenbeschreibung besonders hilfreich? Dann klicke auf dieses Icon. Änderst Du Deine Meinung wieder, klicke ein zweites Mal.
    </td>
  </tr>
</table>

