<table class="table">
  <tr>
    <% unless @user.created_plants.empty? %>
      <td>
        <%= image_tag "unvoted_thumb_up.png" %>
      </td>
      <td>
        <%= I18n.t "help_thumb_up" %>
      </td>
    </tr>
  <% else %>
    <td>Wenn dieser Gartenfreund Pflanzen veröffentlicht hat, kann man hier einen grünen Daumen vergeben.
  <% end %>
</table>

