<%= form_tag users_invite_path(), method: "post" do %>
  <div class="row">
    <div class="col-xs-12">
      <h4>Gartenfreunde</h4>
    </div>
  </div>
  <div class="row search-form">
    <div class="col-xs-12">
      ...noch jemand interessiert am persönlichen Gartenkalender? Dann kannst Du ihn/sie hier per Email einladen:
    </div>
  </div>
  <div class="row search-form">
    <div class="col-xs-12">
      <div class="input-group">
        <%= text_field_tag(:email, "", class: "form-control", placeholder: "Email Adresse") %>
      </div>
    </div>
  </div>
  <div class="row search-form">
    <div class="col-xs-12">
      <div class="input-group">
        <span class="input-group-btn">
          <%= submit_tag("einladen", class: "btn btn-default") %>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-xs-12 -->
  </div><!-- /.row -->
<% end %>
