<div class="row">
  <div class="col-xs-12">
      <%= image_tag("green_flower_icon.png", height: '15px', width: '15px') %>
      Erste Schritte:
      <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Was tun? <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "1. Pflanze kopieren", startpage_first_steps_path(topic: "copy_plant") %>
          </li>
          <li><%= link_to "2. Aufgabenliste", startpage_first_steps_path(topic: "tasks") %></li>
          <li><%= link_to "3. Kommentieren und bewerten", startpage_first_steps_path(topic: "comment") %></li>
        </ul>
      </div>
  </div>
</div>
