<ul class="nav nav-pills nav-stacked nav-left" role="navigation">
  <li role="navigation" <%= active_class(root_path) %>>
    <%= link_to 'Home', root_path %>
  </li>
  <% if (current_user && current_user.admin?) %>
  <li role="navigation" <%= active_class(users_path) %>>
    <%= link_to "Benutzer", users_path %>
  </li>
  <% end %>
</ul>
