<% if @plant %>
  <div class="row sidebar">
    <div class="col-xs-12">
      <%= link_to image_tag(@plant.main_image, style: :medium, class: "sidebar-image"), @plant  %>
    </div>
    <div class="col-xs-12">
      <% if @plant.active %>
        <%= image_tag "plant_active.gif", height: '42px', width: '30px' %> aktiv
      <% else %>
        <%= image_tag "plant_inactive.gif", height: '42px', width: '30px' %> nicht aktiv
      <% end %>
    </div>
    <div class="col-xs-12">
      von <%= @plant.creator.display_name %>
    </div>
  </div>
<% end %>
