<% if @plant %>
  <div class="row sidebar">
    <div class="col-xs-12">
      <%= link_to image_tag(@plant.main_image, style: :medium, class: "sidebar-image"), @plant  %>
    </div>
  </div>
<% end %>
