<h4>Befreundete GärtnerInnen kontaktieren</h4>
<p>
  Willst Du Deine Pflanzen inklusive Aufgaben mit jemandem teilen?
  Dann gebe hier seine/ihre Email Adresse ein.
  Wenn diese(r) GärtnerIn zugestimmt hat, könnt ihr anfangen zu teilen.
</p>

<%= form_tag(action: "create") do |f| %>
  <%= email_field(:user, :email) %>
  <%= submit_tag "anfragen" %>
<% end %>
