<%= form_tag(action: "create") do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <%= email_field(:user, :email, class: "form-control", placeholder: "Email") %>
        <span class="input-group-btn">
          <%= submit_tag "anfragen", class: "btn btn-default" %>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
<% end %>
