<% content_for :sidebar do %>
  <% if current_user %>
    <div class="row sidebar-contacts">
      <div class="col-xs-12">
        <h4>Neuer Kontakt</h4>
        <p><strong>Befreundete GärtnerInnen kontaktieren</strong><p>
        <%= render 'new' %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @sharing_contacts.empty? && @requesting_contacts.empty? && @requested_contacts.empty? %>
  <h4>Meine Gartenfreunde</h4>
  <div class="row">
    <div class="col-xs-12">
      Hier wirst Du die Liste Deiner Gartenfreunde sehen, sobald Du angefangen hast, zu teilen.
    </div>
  </div>
<% end %>

<%# TODO: search for contacts %>
<%= render "requests" %>
<br>
<% unless @sharing_contacts.empty? %>
  <h4>Meine Gartenfreunde</h4>
  <br>
  <table class="table">
    <% @sharing_contacts.each do |contact| %>
      <% user = contact.sharing_user_for(current_user) %>
      <%= render partial: "entry", locals: { contact: contact, user: user } %>
    <% end %>
  </table>
<% end %>
<br>
<%# we don't want to show the images here for privacy reasons %>
<% unless @requested_contacts.empty? %>
  <h4>Noch nicht bestätigte Anfragen</h4>
  <br>
  <table class="table">
  <% @requested_contacts.each do |contact| %>
    <tr>
      <td><strong><%= contact.requested_user.display_name %></strong></td>
    </tr>
  <% end %>
  </table>
<% end %>
