<%# TODO: search for contacts %>
<%= render "requests" %>
<br>
<% unless @sharing_contacts.empty? %>
  <h4>GärtnerInnen, mit denen ich Pflanzenbeschreibungen teile</h4>
  <br>
  <table class="table">
    <% @sharing_contacts.each do |contact| %>
      <% user = contact.sharing_user_for(current_user) %>
      <%= render partial: "entry", locals: { contact: contact, user: user } %>
    <% end %>
  </table>
<% end %>
<br>
<%# we don't want to show the images here for privacy reasons %>
<% unless @requested_contacts.empty? %>
  <h4>Meine noch nicht bestätigten Anfragen</h4>
  <br>
  <table class="table">
  <% @requested_contacts.each do |contact| %>
    <tr>
      <td><strong><%= contact.requested_user.display_name %></strong></td>
    </tr>
  <% end %>
  </table>
<% end %>
