<table class="table">
  <tr>
    <td>
      <%= image_tag "world-globe32x32.png" %>
    </td>
    <td>
      Zum Veröffentlichen dieser Pflanzenbeschreibung auf dieses Icon klicken.
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "plant_active.gif", height: "42px", width: "30px" %>
    </td>
    <td>
      Pflanze aktiv bzw. inaktiv schalten durch Klick auf die Pflanze. Nur die Pflegetipps für aktive Pflanzen werden in der Aufgabenliste angezeigt.
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag "thumb_up_not_voted.png" %>
    </td>
    <td>
      War diese Pflanzenbeschreibung besonders hilfreich? Dann klicke auf dieses Icon. Änderst Du Deine Meinung wieder, klicke ein zweites Mal.
    </td>
  </tr>
</table>

