<% unless current_user.friends.empty? %>
  <%= form_tag(new_plant_path, method: "get") do %>
    <div class="row">
      <div class="col-xs-12">
        <h4>Suche</h4>
        <p><strong>nach Pflanzen anderer GärtnerInnen</strong></p>
      </div>
    </div>
    <div class="row search-form">
      <div class="col-xs-12">
        <div class="input-group">
          <%= text_field_tag(:search_name, "", class: "form-control", placeholder: "Pflanzenname")  %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <small>&nbsp;und / oder</small>
      </div>
    </div>
    <div class="row search-form">
      <div class="col-xs-12">
        <div class="input-group">
          <%= text_field_tag(:search_creator, "", class: "form-control", placeholder: "AutorIn")  %>
        </div>
      </div>
    </div>
    <div class="row search-form">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-btn">
            <%= submit_tag("suchen", class: "btn btn-default") %>
          </span>
        </div><!-- /input-group -->
      </div><!-- /.col-xs-12 -->
    </div><!-- /.row -->
  <% end %>
<% end %>
