<div class="row search-form">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table">
          <tr>
            <td>insgesamt:</td>
            <td><strong><%= @all_plants_count %></strong></td>
          </tr>
          <tr>
            <td>öffentlich:</td>
            <td><strong><%= @public_plants_count %></strong></td>
          </tr>
          <tr>
            <td>von anderen genutzt:</td>
            <td><strong><%= @plants_used_by_others_count %></strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
