<div id="carousel-login" class="carousel slide" data-ride="carousel" data-pause="false">

  <!-- Wrapper for slides -->
  <div class="carousel-inner login-carousel" role="listbox">
    <div class="item active">
      <h4>
        <%= image_tag "login_carousel_1.jpg", class: "img-rounded img-responsive", id: "carousel-login-1" %>
      </h4>
    </div>

    <div class="item">
      <h4>
        <%= image_tag "login_carousel_2.jpg", class: "img-rounded img-responsive img-login-carousel", id: "carousel-image-login-1" %>
      </h4>
    </div>

    <div class="item">
      <h4>
        <%= image_tag "login_carousel_3.jpg", class: "img-rounded img-responsive", id: "carousel-login-1" %>
      </h4>
    </div>

    <div class="item">
      <h4>
        <%= image_tag "login_carousel_4.jpg", class: "img-rounded img-responsive", id: "carousel-login-1" %>
      </h4>
    </div>

  </div>
</div>
