<div id="comments" class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 huge-title">
          Erste Schritte
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 first-steps-desc">
        <%= image_tag "first_steps/grey_circle_comments.png", class: "img-responsive" %>
      </div>
    </div>
  </div>

  <div class="col-md-9 first-steps-desc">
    Hier kannst Du veröffentlichte Pflanzen kommentieren:
    <br>
    <%= image_tag "first_steps/comment.png", class: "img-rounded img-responsive carousel-image" %>
    <br>
    Der ursprüngliche Autor der Pflanze ist der jeweilige Moderator der Diskussion. Er/Sie kann unerwünschte Beiträge löschen.
    <br><br>
    Die Kommentare beziehen sich immer auf die veröffentlichte Originalversion einer Pflanzenbeschreibung, nie auf eine Kopie.
    <br><br>
    <h4>Bewerten</h4>
    Du kannst hervorragende Pflanzenbeschreibungen und Pflegetipps, die besonders hilfreich waren, durch Klicken auf den Daumen honorieren&nbsp;
    <button type="button" class="btn btn-default disabled">
      <%= image_tag "unvoted_thumb_up.png" %>
    </button>
    ... und damit einen grünen Daumen vergeben&nbsp;
    <button type="button" class="btn btn-default disabled">
      <%= image_tag "voted_thumb_up.png" %>
    </button>
    <br><br>
    In der Suche kannst Du die Suchergebnisse nach Pflanzen mit den meisten grünen Daumen sortieren lassen.
    </br></br>
  </div>
</div>
