.sidebar-plant {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-contacts {
  margin-top: 65px;
}

.sidebar-image {
  padding-top: 40px;
}

.sidebar-button {
  margin-top: 30px;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #cccccc;
}

.nav-tabs > li > a {
  font-size: 16px;
}
