.sidebar-plant {
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-contacts {
  margin-top: 58px;
}

.sidebar-image {
  padding-top: 40px;
}

.sidebar-button {
  margin-top: 30px;
}

.nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #cccccc;
}

.nav-tabs > li > a {
  color: #095;
}

#content table a {
  color: #095;
}

a:link, a:hover, a:visited, a:active {
  color: #095 !important;
}
