// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-title {
  color: #ccc;
}

.task-title-show {
  margin-left: 10px;
}

.task-desc {
  display: none;
}

.task-description {
  margin-top: 10px;
  margin-left: 10px;
}

.task-action-links {
  text-align: right;
}

.task-warning {
  color: red;
}

.task-form-space {
  padding-right: 10px;
  margin-top: 20px;
}

.task-form-title {
  padding-bottom: 10px;
  font-weight: bold;
}

.task-details {
  display: none;

}

.task-desc {
  padding-top: 20px;
}

.modal-container {
  text-align: left;
}

.task-ok {
  border-color: #fff !important;
  background-color: #fff !important;
  cursor: default !important;
  padding: 6px 0px !important;
}

.eye-button {
  padding: 4px 6px !important;
}

.task-timespan {
  padding-left: 25px;
}

.wrap-title {
  white-space: normal;
  overflow: hidden;
}
