// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-title {
  color: #ccc;
}

.task-desc {
  display: none;
}

.task-action-links {
  text-align: right;
  font-size: 14px;
  font-weight: normal;
}

.task-warning {
  color: red;
}

.task-form-space {
  padding-right: 10px;
  margin-top: 20px;
}

.task-form-title {
  padding-bottom: 10px;
  font-weight: bold;
}

.task-details {
  display: none;

}

.task-desc {
  padding-top: 20px;
}

.modal-container {
  text-align: left;
}

.task-ok {
  border-color: #fff !important;
}
