<p>Hallo <%= @resource.email %>,</p>

<p>hier kannst Du Dein Paßwort neu setzen:</p>

<p><%= link_to 'Passwort zurücksetzen', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls Du Dein Passwort nicht ändern möchtest, ignoriere diese Email.</p>
<p>Solange Du den obigen Link nicht aufrufst und ein neues Passwort setzt, bleibt Dein altes Passwort gültig.</p>
