<p>Hallo <%= @resource.email %>,</p>

<p>Dein Account wurde gesperrt, da außergewöhnlich häufig versucht wurde, sich mit einem falschen Passwort einzuloggen.</p>

<p>Benutze den folgenden Link, um Deinen Account wieder freizuschalten:</p>

<p><%= link_to 'Meinen Account freischalten', unlock_url(@resource, unlock_token: @token) %></p>
