<tr>
  <td id="task_title"><%= link_to done_task.task.title, plant_task_path(done_task.task.plant, done_task.task) %></td>
  <td><%= done_task.notice %>
  <td><%= I18n.l done_task.updated_at %></td>
</tr>

