<%= render partial: "plants/sidebar" %>
<%= render partial: "plants/header" %>

<div class="row">
  <div class="col-xs-12 edit-plant-link">
  </div>
</div>

<h3>Erledigte Aufgaben</h3>
<% unless @done_tasks.empty? %>
  <table class="table">
    <tr>
      <th>Aufgabe</th>
      <th>Notiz</th>
      <th>Datum</th>
      <th></th>
      <th></th>
    </tr>
    <% @plant.tasks.order(updated_at: :desc).each do |task| %>
      <%= render task.done_tasks %>
    <% end %>
  </table>
<% else %>
  ...noch keine erledigten Aufgaben.
<% end %>
