<%= render partial: "plants/sidebar" %>
<%= render partial: "plants/header" %>

<div class="row">
  <div class="col-xs-12 edit-plant-link">
  </div>
</div>

<h3>Erledigte Aufgaben</h3>
<% if @done_tasks.empty? %>
  ...noch keine erledigten Aufgaben.
<% end %>

<table class="table">
  <tr>
    <th>Aufgabe</th>
    <th>Notiz</th>
    <th>Datum</th>
    <th></th>
    <th></th>
  </tr>

  <%= render partial: "form" %>

  <% @done_tasks.each do |done_task| %>
    <%= render done_task %>
  <% end %>
</table>
